@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{ background-image: linear-gradient(to bottom, #1433DE, #3017FA, #2279F5);
    height: 100%;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #0a157c9a;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
h1{
    color: #1433DE;
    text-align: center;
    text-shadow: 1px 1px 1px #0e1b928e;
}
h2 {
    color: #1433DE;
}

p {
    text-align: justify;
}